*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  z-index: 0; }

p {
  margin-bottom: 0; }

.loaded-page {
  opacity: 0; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.navbar__semi-bold {
  font-weight: 600; }

.section-padding {
  padding-top: 70px;
  padding-bottom: 70px; }

.title-border h1 {
  position: relative; }
  .title-border h1::after {
    content: "";
    position: absolute;
    background-color: #fa5b5b;
    height: 2px;
    width: 3rem;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    display: block; }

.spinner-overlay {
  position: absolute;
  z-index: 9999;
  background-color: #fff9f9;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.btn-custom {
  width: 12rem;
  height: 3rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem; }

.btn-danger {
  border-color: transparent; }

.btn-resume {
  background-color: #fa5b5b; }

.btn-more-about-me {
  background-color: transparent;
  color: inherit;
  border: 1.5px solid #1d2124; }

.social-icons {
  margin-top: 32px;
  margin-bottom: 32px; }
  .social-icons-label {
    color: #2f3640; }

.fas {
  padding-right: 10px; }

.navbar-light .navbar-toggler-icon {
  color: #000; }

.navbar-light .navbar-toggler {
  border: none; }

.navbar__bg-custom {
  backface-visibility: hidden;
  background-color: #fff;
  border-bottom: 0.7px solid rgba(71, 71, 71, 0.096); }
  .navbar__bg-custom-scrolled {
    backface-visibility: hidden;
    transition: opacity 0.5s ease-out;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    opacity: 0;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.185), 0 2px 6px 2px rgba(42, 42, 43, 0.149);
    border-bottom: 0px; }

.landing-page__content {
  min-height: 100vh;
  line-height: 1.4;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #2f3640; }

.landing-page__hello {
  color: #fa5b5b;
  font-size: 30px;
  font-weight: 600; }

.landing-page__intro {
  font-size: 52px;
  font-weight: 600; }

.landing-page__description {
  font-size: 35px; }

.self-photo-img-container {
  display: inline-block;
  position: relative; }

.self-photo-border-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 43px;
  left: 46px; }

.self-photo-img {
  width: 260px;
  height: 260px;
  padding: 25px; }

#border-anim {
  opacity: 0; }

.about-subsection-h5 {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #383838; }
  .about-subsection-h5 span {
    border-bottom: 1px solid #fa5b5b; }

.about-subsection-head {
  text-transform: uppercase;
  font-weight: 400;
  color: #888;
  font-size: 0.975rem;
  margin-bottom: 0; }

.about-subsection-description {
  font-weight: 400;
  font-size: 1.45rem; }

.project-card {
  min-height: 450px;
  background-color: #f7f9fa;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .project-card--title {
    font-weight: 600;
    color: #2f3640;
    margin-bottom: 0; }
  .project-card--text, .project-card--built-with--text {
    color: #888;
    font-size: 0.9rem; }
  .project-card--built-with {
    position: absolute;
    bottom: 5%; }
    .project-card--built-with--text {
      font-weight: 600; }
  .project-card--github, .project-card--live {
    transition: color 0.2s ease-in;
    font-size: 18px;
    cursor: pointer; }
  .project-card--github:hover {
    color: #10ac84;
    text-decoration: none; }
  .project-card--live:hover {
    color: #fa5b5b;
    text-decoration: none; }

.contact {
  min-height: 70vh; }
  .contact-body {
    min-height: 60vh; }
  .contact-email {
    padding-right: 0; }
  .contact-underline {
    height: 2px;
    width: 3rem;
    background: #fa5b5b;
    display: block;
    margin: 0.5rem auto 1rem auto; }
  .contact-icons {
    color: #2f3640;
    font-weight: 600; }
  .contact-icons:hover {
    text-decoration: none;
    color: #888; }

.page-footer {
  background-color: #2f3640;
  min-height: 100px;
  color: #fff; }
  .page-footer--body {
    padding: 50px 0; }
  .page-footer a {
    color: #fff; }

@media (max-width: 767.98px) {
  .self-photo-border-container {
    width: 92%;
    height: 92%;
    top: 39px;
    left: 41px; }
  .self-photo-img {
    width: 200px;
    height: 200px;
    padding: 25px; }
  .fas,
  .fab {
    font-size: 25px; }
  .landing-page__hello {
    color: #fa5b5b;
    font-size: 20px;
    font-weight: 600; }
  .landing-page__intro {
    font-size: 36px;
    font-weight: 600; }
  .landing-page__description {
    font-size: 20px; } }
