$color-primary: #fa5b5b;
$color-white: #fff;
$color-black: #000;
$color-black-light: #2f3640;

$nav-border-bottom-color: #5c5c5c;
$nav-box-shadow-color-1: #3c4043;
$nav-box-shadow-color-2: #2a2a2b;

$normal: 400;
$semi-bold: 600;
$bold: 700;
