@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";

h1 {
	color: $color-primary;
}

.landing-page__content {
	padding-top: 150px;
	padding-bottom: 150px;
	min-height: 91.35vh;
	line-height: 1.38;
	color: $color-black-light;
	// border: 2px solid #000;
}

.landing-page {
	opacity: 0;
}
p {
	margin-bottom: 0;
}
.landing-page__hello {
	color: $color-primary;
	font-size: 30px;
	font-weight: $semi-bold;
}

.landing-page__intro {
	font-size: 5rem;
	font-weight: $semi-bold;
}

.landing-page__description {
	font-size: 35px;
}

.self-photo {
	&-img-container {
		display: inline-block;
		position: relative;
	}

	&-border-container {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 43px;
		left: 46px;
	}

	&-img {
		width: 260px;
		height: 260px;
		padding: 20px;
		// opacity: 0;
	}
}

#hexagon {
	opacity: 0;
}

.btn {
	width: 10rem;
	height: 3rem;
	margin-top: 2rem;
}
