@import "abstracts/variables";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/spinner";
@import "components/button";

@import "layout/header";

@import "pages/home";

.title-border h1 {
	position: relative;
}
.title-border h1::after {
	content: "";
	position: absolute;
	background-color: #333;
	height: 2px;
	width: 3rem;
	top: 125%;
	left: 50%;
	transform: translateX(-50%);
	display: block;
}
