body {
	font-family: "Poppins", sans-serif;
	font-weight: $normal;
}

.navbar__semi-bold {
	font-weight: $semi-bold;
}

.font-roboto {
	font-family: "Roboto", sans-serif;
}

.font-color-888 {
	color: $color-grey;
}

.system-fonts {
	font-family: $system-fonts;
}

.font-color-6a737d {
	color: #6a737d;
}
